@model IEnumerable<CRUDMVC.Models.Compra>

@{
    ViewData["Title"] = "Index";
    List<string> LugaresDeCompra = ViewBag.lugares;
}

<h1>Compras</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div style="display:flex,inline">
    <h4>Filtar por Mes y año</h4>
    <form >
    <label for="Mes" >Mes</label>
    <input id="datapicker" name="Mes" type="month"/>
    </form>
</div>

<div style="display:flex,inline">
 <h4>Filtrar por lugar de la compra</h4>
    @{
        var label = "-------";
    }
    <form >
     <select id="select" name="selectLugar">
        <optgroup label="@label">

            <option selected>--------</option>
             @foreach (var item in LugaresDeCompra)
         {
             <option id="@item">@item</option>
         }
        </optgroup>
         
        
     </select>
 </form>

</div>

<br />

<table id="TablaCompras" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LugarDeCompra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="bodyTable">


@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LugarDeCompra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>





