@model IEnumerable<CRUDMVC.Models.Compra>

@{
    ViewData["Title"] = "Index";
    List<string> LugaresDeCompra = ViewBag.lugares;
    List<int> anos = ViewBag.anos;
}

<h1>Compras</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h4>Filtros</h4>
<br />
<div class="ContainerFiltros">
    <div>
        <div >   
            <form style="display:flex,inline">
                <label for="Mes"><span>Por Mes:</span></label>
                <input id="datapicker" name="Mes" type="month"  />
            </form>
        </div>
    </div>
    <br />

    <div >
        @{
            var LabelOptgroup = "Sin lugar";
        }
        <form style="display:flex,inline">
            <label><span>Por Lugar:</span></label>
            <select id="select">
                <optgroup label="@LabelOptgroup">
                    <option>Todos</option>
                    <option selected>Sin lugar</option>
                    @foreach (var item in LugaresDeCompra)
                    {
                        <option>@item</option>
                    }
                </optgroup>


            </select>
        </form>
    </div>

     <div >
        @{
            var LabelOpt = "Sin año";
        }
        <form style="display:flex,inline">
            <label><span>Por año:</span></label>
            <select id="selectAno">
                <optgroup label="@LabelOpt">
                    <option selected>Sin año</option>
                    @foreach (var item in anos)
                    {
                        <option>@item</option>
                    }
                </optgroup>


            </select>
        </form>
    </div>

</div>


<br />

<table id="TablaCompras" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LugarDeCompra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="bodyTable">


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LugarDeCompra)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>





